@model Domain.Book

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
    <h4>Book</h4>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <div class="div-horizontal">
                @if (Model.Image == null)
                {
                    <img src="/images/default.png" style="width:200px" />
                }
                else
                {
                    <img src="@Url.Action("RenderImage", new { id = Model.Id})" style="width:200px" />
                }
            </div>
        </div>
        <div class="col-sm-9">
            <div class="col-sm-12" style="font-size: 36px; color: #007bff;">
                @Html.DisplayFor(modelItem => Model.Title)
            </div>
            <div class="row col-sm-10">
                <div class="col-sm-12">
                    <strong>@Html.DisplayFor(modelItem => Model.Author)</strong> - <strong>@Html.DisplayFor(modelItem => Model.Year)</strong>
                </div>
            </div>
            <div class="col-sm-12">
                <p style="font-size: 13px; padding: 30px 0px;">
                    @Html.DisplayFor(modelItem => Model.Description)
                </p>
            </div>


            <div class="col-sm-12" style="padding: 0px; text-transform:capitalize">
                <div class="col-sm-12" style="text-transform:capitalize">
                    <strong>Categoria:</strong> @Html.DisplayFor(modelItem => Model.Category.Name)
                </div>

                <div class="col-sm-12">
                    <strong>Editora: </strong>  @Html.DisplayFor(modelItem => Model.PublishingCompany)
                </div>
                @{
                    string rentedItem = "";
                    @if (Model.Rented)
                    {
                        rentedItem = "rentedItem";
                    }
                    else
                    {
                        rentedItem = "notRentedItem";
                    }
                }
                <div class="col-sm-12">
                    <strong>Disponivel?</strong>  <strong class="@rentedItem">
                        @if (Model.Rented)
                        {
                            <text>Não</text>
                        }
                        else
                        {
                            <text>Sim</text>
                        }
                    </strong>
                </div>

                <div class="col-sm-12">
                    <strong>Cadastro:</strong> @Html.DisplayFor(modelItem => Model.DateCriation)
                </div>

                <div class="col-sm-12">
                    <strong>Ultima Atualização:</strong> @Html.DisplayFor(modelItem => Model.DateUpdate)
                </div>
            </div>
        </div>
    </div>
<div>
    <a asp-action="Index" class="btn btn-outline-primary">Voltar</a>
</div>
