@model Domain.Book

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
    <h4>Book</h4>
    <hr />

    <div class="row">
        <div class="col-sm-3">
            <div class="div-horizontal">
                @if (Model.Image == null)
                {
                    <img src="/images/default.png" style="width:200px" />
                }
                else
                {
                    <img src="@Url.Action("RenderImage", new { id = Model.Id})" style="width:200px" />
                }
            </div>
        </div>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </div>

        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </div>

        <div class="col-sm-10" style="text-transform:capitalize">
            @Html.DisplayFor(model => model.Category.Name)
        </div>

        <div class="col-sm-10">
            @Html.DisplayFor(model => model.PublishingCompany)
        </div>

        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Rented)
        </div>

        <div class="col-sm-10">
            @Html.DisplayFor(model => model.DateCriation)
        </div>

        <div class="col-sm-10">
            @Html.DisplayFor(model => model.DateUpdate)
        </div>

        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Excluded)
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" style="margin-left:10px;">Editar</a>
    <a asp-action="Index" class="btn btn-outline-primary">Voltar</a>
</div>
